h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.contact-div {
    width: 80%;
    max-height: fit-content;
    padding: 40px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}
.contact-div__img-cont {
    width: 35%;
}
.contact-div img {
    border-radius: 100%;
    width: 100%;
}
h2 {
    font-size: 30px;
}
.contact-div__desc {
    max-width: 500px;
}
.contact-div__desc p {
    margin-bottom: 20px;
}
.contact-div__desc p {
    font-size: 18px;
    max-width: 400px;
}
.contacts-list {
    display: flex;
    flex-direction: column;
}
.contact-line {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}
.contact-line img {
    width: 40px;
    height: 40px;
}
/* footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
} */
footer{
    margin-top: -100px;
}
