h1 {
    text-align: center;
    margin-bottom: 20px;
}
.documents-section {
    margin: 0 auto;
    min-width: 300px;
    width: 100%;
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
.documents-section img {
    width: 100%;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}


h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

TABLE {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    margin: 0 auto;
    margin-top: 10px;
}
TD,
TH {
    border: 1px solid rgb(0, 0, 0); /* Рамка вокруг ячеек */
}

td {
    padding: 5px;
}
thead .bronze{
    background-color: #e28354;
}

thead .silver{
    background-color: #d6d6d6;
}

thead .gold{
    background-color: #f9e25c;
}